.password-changed-container {
  background-image: url("../Images/login_page.png"); /* Reusing the login background image */
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-wrapper {
}

.password-content {
}

.content {
  width: 90%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.status-icon img {
  width: 60px; /* Adjust as necessary */
  height: 60px; /* Adjust as necessary */
  margin-bottom: 20px;
}

.message h1 {
  margin-bottom: 10px;
  font-size: 2em;
}

.message p {
  font-size: 1.2em;
}

.button button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Green background for button */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #367c39; /* Darker green on hover */
}

@media (max-width: 600px) {
  .password-changed-container {
    justify-content: center;
    padding: 20px;
  }

  .content {
    margin: 0 auto;
  }
}
