.Trending-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.Trending-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Trending-container .Trending-stocks-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.Trending-container .Trending-stocks-container .Trend-container {
  max-width: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
}
.Trending-container .Trending-stocks-container .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 0.5rem;
  margin-bottom: 2rem;
}
.Trending-container .Trending-stocks-container .search-container .left {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.Trending-container .Trending-stocks-container .search-container .left p {
  color: white;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.Trending-container .Trending-stocks-container .search-container .right {
  width: 80%;
}
.Trending-container .Trending-stocks-container .search-container .right input {
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  width: 100%;
  color: white;
}
.stocks-container {
  padding: 1rem;
  background-color: #454140;
  border-radius: 5px;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.stocks-container::-webkit-scrollbar {
  display: none;
}

.stocks-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stocks-container .stocks-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stocks-container .stocks-title p {
  color: white;
  font-size: 17px;
}
.stocks-container .stocks-title button {
  background-color: transparent;
  outline: none;
  border: none;
  color: palevioletred;
  font-size: 15px;
  cursor: pointer;
}
.stocks-container .stocks-content {
  margin-top: 1rem;
}
.stocks-container .stocks-content .stocks {
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.stocks-container .stocks-content .stocks:hover {
  background-color: gray;
  border-radius: 10px;
}
.stocks-container .stocks-content .stocks h2 {
  color: white;
}
.stocks-container .stocks-content .stocks i {
  color: orange;
  font-size: 40px;
}
.stocks-container .stocks-content .stocks .price-container {
  display: flex;
  flex-direction: column;
}
.stocks-container .stocks-content .stocks .price-container p {
  color: white;
}
.stocks-container .stocks-content .stocks .price-container p:last-child.up {
  color: green;
}
.stocks-container .stocks-content .stocks .price-container p:last-child.down {
  color: red;
}
.stocks-container .stocks-content .error {
  color: white;
  text-align: center;
}
@media screen and (max-width: 530px) {
  .Trending-container .Trending-stocks-container {
    padding: 1rem;
  }
  .Trending-container .Trending-stocks-container .Trend-container {
    max-width: 100%;
    padding: 0rem 0rem;
  }
  .Trending-container .Trending-stocks-container .search-container {
    padding: 0rem 0rem;
    margin-bottom: 2rem;
  }
  .Trending-container .Trending-stocks-container .search-container .left {
    margin-right: 1rem;
  }
  .Trending-container .Trending-stocks-container .search-container .left img {
    width: 10px;
  }
  .Trending-container .Trending-stocks-container .search-container .left p {
    font-size: 1.1rem;
    margin-left: 0.5rem;
  }
  .Trending-container .Trending-stocks-container .search-container .right {
    width: 100%;
  }
  .Trending-container
    .Trending-stocks-container
    .search-container
    .right
    input {
    padding: 0.7rem 0.5rem;
  }
  .stocks-container .stocks-content .stocks {
    margin-top: 1rem;
  }
  .stocks-container .stocks-content .stocks h2 {
    font-size: 20px;
  }
  .stocks-container .stocks-content .stocks i {
    font-size: 30px;
  }
  .stocks-container .stocks-content .stocks .price-container p {
    font-size: 15px;
  }
}
@media screen and (max-width: 385px) {
  .stocks-container .stocks-content .stocks h2 {
    font-size: 15px;
  }
}
