.buysell-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.buysell-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.buysell-right-cover {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.buysell-right-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}
.buysell-right-container .title-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 0.5rem;
  margin-bottom: 0rem;
}
.buysell-right-container .title-container img {
  transform: rotate(-180deg);
  cursor: pointer;
}
.buysell-right-container .title-container p {
  color: white;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.crypto-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.crypto-heading-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crypto-heading-container .crypto-pic {
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
}
.crypto-heading-container .crypto-pic img {
  width: 100px;
  margin-right: 1rem;
}
.crypto-heading-container .crypto-pic .crypto-identify {
  display: flex;
  flex-direction: column;
}
.crypto-heading-container .crypto-pic .crypto-identify p {
  color: white;
  font-size: 2rem;
}
.crypto-heading-container .crypto-pic .crypto-identify span {
  color: #ffffffa2;
  font-size: 1rem;
}
.crypto-heading-container .crypto-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.crypto-heading-container .crypto-price-container h3 {
  color: white;
  font-size: 2.5rem;
}
.crypto-heading-container .crypto-price-container span.down {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.crypto-heading-container .crypto-price-container span img {
  width: 20px;
  margin-right: 3px;
}
.crypto-heading-container .crypto-price-container span {
  margin-top: 5px;
}
.crypto-heading-container .crypto-price-container span.up {
  color: rgb(16, 138, 42);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.head {
  align-self: start;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/*.values {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.value-1,
.value-2 {
  display: flex;
  font-size: 1.2rem;
}
.value-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.value-2 {
  display: flex;
  justify-content: space-between;
}
.value-1 div span,
.value-2 div span {
  color: rgba(255, 255, 255, 0.884);
}
.value-2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}
.value-1 div:last-child {
  margin-right: 0rem;
}*/
.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 70%;
  width: 70%;
}
.btns button {
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem 0rem;
  background-color: rgb(5, 92, 5);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  max-width: 50%;
  width: 50%;
}
.btns button:last-child {
  margin-left: 1rem;
  background-color: red;
}
@media screen and (max-width: 530px) {
  .buysell-right-container {
    padding: 1rem 0rem;
  }
  .buysell-right-container .title-container img {
    width: 10px;
  }
  .buysell-right-container .title-container p {
    font-size: 18px;
  }

  .crypto-heading-container {
    margin-bottom: 1.5rem;
    align-items: center;
  }
  .crypto-heading-container .crypto-pic {
    margin-bottom: 1rem;
  }
  .crypto-heading-container .crypto-pic img {
    width: 80px;
  }
  .crypto-heading-container .crypto-pic .crypto-identify {
    align-items: center;
  }
  .crypto-heading-container .crypto-pic .crypto-identify p {
    font-size: 1.5rem;
  }
  .crypto-heading-container .crypto-pic .crypto-identify span {
    font-size: 0.8rem;
  }

  .crypto-heading-container .crypto-price-container h3 {
    font-size: 2rem;
  }
  .crypto-heading-container .crypto-price-container span.down {
    font-size: 1rem;
  }
  .crypto-heading-container .crypto-price-container span.up {
    font-size: 1rem;
  }

  .stats-container {
    max-width: 100%;
  }
  .head {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
