.line {
  width: calc(100% + 1.5px);
  height: 5.088rem;
  position: absolute;
  margin: 0 !important;
  right: -0.094rem;
  bottom: -0.1rem;
  left: 0;
  border-radius: var(--br-5xl);
  border: 1.5px solid var(--l-blue);
  box-sizing: border-box;
}
.fullName,
.icon {
  position: relative;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  z-index: 1;
}
.fullName {
  line-height: 1.5rem;
  display: inline-block;
  min-width: 6.813rem;
}
.title {
  border-radius: var(--br-8xs);
  background-color: var(--color-midnightblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  white-space: nowrap;
  z-index: 1;
}
.linhNguyen {
  width: 7.5rem;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  height: 1.625rem;
  position: relative;
  line-height: 1.625rem;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.inputstextFieldselected,
.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputstextFieldselected {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-5xl) var(--padding-9xl-8);
  position: relative;
  gap: var(--gap-6xs);
}
.item {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-4xs) 0 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .linhNguyen {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
}
