.outputMergerChild {
  width: 7.125rem;
  height: 6.688rem;
  position: absolute;
  margin: 0 !important;
  bottom: -3.125rem;
  left: -2.875rem;
  border-radius: 50%;
  background-color: var(--color-midnightblue-200);
}
.frameChild {
  position: absolute;
  top: 25.938rem;
  left: 16.5rem;
  width: 8.875rem;
  height: 9.063rem;
}
.frameItem {
  position: absolute;
  top: 0;
  left: -0.062rem;
  
  height: 100%;
  z-index: 1;
}
.instanceParent {
  width: 26.563rem;
  height: 32.563rem;
  position: absolute;
  margin: 0 !important;
  right: -6.437rem;
  bottom: -1.75rem;
}
.intersectIcon,
.outputMergerItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
}
.outputMergerItem {
  right: -0.125rem;
  bottom: -0.125rem;
  box-shadow: 0 0 39px 12px rgba(255, 255, 255, 0.04);
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 2;
}
.intersectIcon {
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.springboard {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 6.375rem;
  z-index: 4;
}
.intersectParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-4xl) var(--padding-xl) var(--padding-4xl)
    var(--padding-16xl);
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.personal {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 5.063rem;
  z-index: 3;
}
.groupIcon {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.accounts {
  position: relative;
  display: inline-block;
  min-width: 5.5rem;
}
.accountsWrapper,
.groupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accountsWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.groupParent {
  flex-direction: row;
  gap: var(--gap-7xl);
}
.iconChevronRightArrowIcon {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.iconChevronRightArrowIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-lgi);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-istok-web);
}
.frameContainer,
.frameWrapper,
.personalParent {
  display: flex;
  align-items: flex-start;
}
.personalParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) var(--padding-xs) 0;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-inter);
}
.dashboard,
.iconAlternateTachometer {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.iconAlternateTachometer {
  height: 1.688rem;
  width: 2.169rem;
}
.dashboard {
  display: inline-block;
  min-width: 6rem;
}
.dashboardWrapper,
.iconAlternateTachometerParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboardWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.iconAlternateTachometerParent {
  flex-direction: row;
  gap: var(--gap-7xl-3);
}
.iconChevronRightArrowIcon1 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.iconChevronRightArrowIconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.db {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.iconAppMenu {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
}
.app {
  position: relative;
  display: inline-block;
  min-width: 2.25rem;
}
.appWrapper,
.iconAppMenuParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.appWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.iconAppMenuParent {
  flex-direction: row;
  gap: var(--gap-10xl);
}
.iconChevronRightArrowIcon2 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.iconChevronRightArrowIconFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.groupDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.dbParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) var(--padding-lgi) var(--padding-xl);
}
.iconMail {
  height: 2.375rem;
  width: 2.25rem;
  position: relative;
}
.mailbox {
  position: relative;
  display: inline-block;
  min-width: 4.25rem;
}
.mailboxWrapper {
  width: 9.063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.iconChevronRightArrowIcon3 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.iconChevronRightArrowIconWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frameWrapper1,
.iconMailParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.iconMailParent {
  flex: 1;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.frameWrapper1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) var(--padding-2xs) var(--padding-lgi);
}
.iconLaptop,
.iconMail1 {
  position: absolute;
  left: 0;
}
.iconMail1 {
  top: 0;
  width: 100%;
  height: 100%;
}
.iconLaptop {
  top: 0.375rem;
  width: 2.25rem;
  height: 1.65rem;
  z-index: 1;
}
.iconMailGroup {
  height: 2.375rem;
  width: 2.25rem;
  position: relative;
}
.uiElements {
  position: relative;
  display: inline-block;
  min-width: 6.75rem;
}
.dataAggregator,
.frameParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataAggregator {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.frameParent2 {
  flex-direction: row;
  gap: var(--gap-7xl);
}
.iconChevronRightArrowIcon4 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.inputFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frameParent,
.frameParent1,
.frameWrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent1 {
  flex: 1;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.frameParent,
.frameWrapper2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 var(--padding-lgi);
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-istok-web);
}
.chartstablesLayouts {
  position: relative;
  font-weight: 600;
  z-index: 3;
}
.iconPartition {
  height: 2rem;
  width: 1.956rem;
  position: relative;
  min-height: 2rem;
}
.charts {
  position: relative;
  display: inline-block;
  min-width: 3.688rem;
}
.chartsWrapper,
.iconPartitionParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chartsWrapper {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.iconPartitionParent {
  flex-direction: row;
  gap: var(--gap-9xl-7);
}
.iconChevronRightArrowIcon5 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.iconChevronRightArrowIconWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.frameParent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.iconTablesBold,
.tables {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.iconTablesBold {
  height: 1.875rem;
  width: 1.869rem;
  min-height: 1.875rem;
}
.tables {
  display: inline-block;
  min-width: 3.5rem;
}
.iconTablesBoldParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl-1);
}
.iconChevronRightArrowIcon6 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
}
.errorHandler,
.frameParent5 {
  display: flex;
  align-items: flex-start;
}
.errorHandler {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.frameParent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.9;
  gap: var(--gap-xl);
  z-index: 3;
}
.icon {
  height: 2.319rem;
  width: 1.875rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.leaderboard {
  position: relative;
  display: inline-block;
  min-width: 7.125rem;
}
.leaderboardWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.9;
  z-index: 3;
}
.frameWrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) var(--padding-11xs-1) 0;
}
.iconChevronRightArrowIcon7 {
  width: 0.25rem;
  height: 0.5rem;
  position: relative;
  z-index: 3;
}
.iconChevronRightArrowIconWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini-1);
}
.frameWrapper4,
.iconParent {
  display: flex;
  flex-direction: row;
}
.iconParent {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameWrapper4 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
  color: var(--color-gainsboro);
}
.frameParent3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.chartstablesLayoutsParent,
.frameWrapper3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper3 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xl);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-istok-web);
}
.chartstablesLayoutsParent {
  flex-direction: column;
  padding: 0 var(--padding-xl) var(--padding-3xl-9) 0;
  gap: var(--gap-25xl);
  color: var(--color-darkgray-200);
}
.outputMergerInner {
  width: 8.875rem;
  height: 9.063rem;
  position: absolute;
  margin: 0 !important;
  top: -3.75rem;
  left: -3.375rem;
  z-index: 4;
}
.jigarPanchalZjsptbkol2kUnspIcon {
  height: 2.625rem;
  width: 2.625rem;
  position: relative;
  border-radius: var(--br-31xl);
  flex-shrink: 0;
  object-fit: contain;
  min-height: 2.625rem;
  z-index: 2;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.helloabcgmailcom,
.puneetPandey {
  position: relative;
  display: inline-block;
}
.puneetPandey {
  font-weight: 600;
  min-width: 6.875rem;
  z-index: 2;
}
.helloabcgmailcom {
  min-width: 7.313rem;
  white-space: nowrap;
  z-index: 4;
}
.frameWrapper6,
.helloabcgmailcomWrapper,
.puneetPandeyParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.helloabcgmailcomWrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
}
.frameWrapper6,
.puneetPandeyParent {
  flex-direction: column;
}
.puneetPandeyParent {
  gap: var(--gap-10xs);
}
.frameWrapper6 {
  padding: var(--padding-10xs) var(--padding-12xl) 0 0;
}
.chevronDownIcon {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.chevronDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.jigarPanchalZjsptbkol2kUnspParent,
.outputMerger,
.outputMergerInner1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.jigarPanchalZjsptbkol2kUnspParent {
  overflow-x: auto;
  padding: var(--padding-mini) var(--padding-smi) var(--padding-mini-9)
    var(--padding-mini);
  position: relative;
  gap: var(--gap-4xs);
  z-index: 3;
}
.outputMerger,
.outputMergerInner1 {
  padding: 0 var(--padding-5xs) 0 var(--padding-2xs);
  text-align: right;
  color: var(--color-white);
}
.outputMerger {
  width: 18.875rem;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-smi) var(--padding-23xl-1);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-31xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .outputMerger {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .outputMerger {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .accounts,
  .app,
  .charts,
  .dashboard,
  .leaderboard,
  .mailbox,
  .tables,
  .uiElements {
    font-size: var(--font-size-base);
  }
  .chartstablesLayoutsParent {
    gap: var(--gap-3xl);
  }
  .outputMerger {
    gap: var(--gap-6xl);
  }
}
