.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-box {
  padding: 20px;
  background: #fff; /* Background color of the box */
  border-radius: 10px; /* Rounded corners for the box */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-circle div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4caf50; /* Changed border color to green */
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4caf50 transparent transparent transparent;
}

.loader-circle div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader-circle div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader-circle div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
