
.iconChevronLeft {
  width: 0.731rem;
  height: 1.5rem;
  position: relative;
  object-fit: contain;
  flex-shrink: 0;
  
}
.iconChevronLeftWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.437rem 0 0;
}
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-decoration: underline;
  font-weight: 500;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.687rem 0 0;
}
.frameChild {
  height: 6.688rem;
  width: 7.125rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-midnightblue-200);
}
.frameDiv {
  width: 20.938rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.dataAggregatorChild,
.imageHandler {
  position: absolute;
  margin: 0 !important;
}
.dataAggregatorChild {
  width: 67.438rem;
  height: 32.563rem;
  right: -52.437rem;
  bottom: -19.562rem;
  border-radius: 46px;
  object-fit: contain;
}
.imageHandler {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: var(--color-gray-400);
  z-index: 1;
}
.jigarPanchalZjsptbkol2kUnspIcon {
  height: 6.25rem;
  width: 6.25rem;
  position: relative;
  border-radius: var(--br-31xl);
  object-fit: cover;
  z-index: 2;
}
.inputFilter1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.875rem 0 var(--padding-xl);
}
.inputsChild,
.line {
  position: absolute;
  margin: 0 !important;
}
.inputsChild {
  width: 8.875rem;
  height: 9.063rem;
  right: 10.5rem;
  bottom: 11.625rem;
}
.line {
  width: calc(100% + 1.5px);
  height: 5.088rem;
  right: -0.094rem;
  bottom: -0.1rem;
  left: 0;
  border-radius: var(--br-5xl);
  border: 1.5px solid var(--l-blue);
  box-sizing: border-box;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: none;
  z-index: 1;
}
.full {
  font-size: var(--font-size-xl);
}
.span {
  font-size: 0.875rem;
}
.name {
  font-size: var(--font-size-xl);
}
.fullName {
  position: relative;
  line-height: 1.5rem;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 6.125rem;
}
.title {
  border-radius: var(--br-8xs);
  background-color: var(--color-midnightblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.437rem;
  white-space: nowrap;
  z-index: 1;
}
.linhNguyen {
  margin: 0;
  position: relative;
  font-size: 1.875rem;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.inputstextFieldselected,
.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputstextFieldselected {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-xl) 1.175rem var(--padding-5xl);
  position: relative;
  gap: var(--gap-6xs);
}
.item {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-4xs) 0 0;
}
.icon1,
.line1 {
  position: absolute;
}
.line1 {
  height: 94.87%;
  width: 100.22%;
  top: 6.99%;
  right: -0.22%;
  bottom: -1.86%;
  left: 0;
  border-radius: var(--br-5xl);
  border: 1.5px solid var(--l-blue);
  box-sizing: border-box;
}
.icon1 {
  top: calc(50% - 10.9px);
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.fullName1,
.linhNguyen1 {
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.linhNguyen1 {
  position: absolute;
  top: calc(50% - 11.9px);
  left: 1.5rem;
  font-size: var(--font-size-6xl);
  line-height: 1.625rem;
  display: none;
  white-space: nowrap;
}
.fullName1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
}
.title1 {
  position: absolute;
  top: calc(50% - 42.9px);
  left: 1.5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-midnightblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  white-space: nowrap;
  z-index: 1;
}
.inputstextFieldselected1 {
  height: 5.363rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.helloabcgmailcom,
.item1 {
  width: 100%;
  position: absolute;
}
.item1 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}
.helloabcgmailcom {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: 1.375rem;
  background-color: transparent;
  top: 3.031rem;
  left: 1.688rem;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 3;
}
.itemGroup {
  align-self: stretch;
  height: 5.925rem;
  position: relative;
  max-width: 100%;
}
.icon2,
.line2 {
  position: absolute;
}
.line2 {
  height: 94.87%;
  width: 100.22%;
  top: 6.99%;
  right: -0.22%;
  bottom: -1.86%;
  left: 0;
  border-radius: var(--br-5xl);
  border: 1.5px solid var(--l-blue);
  box-sizing: border-box;
}
.icon2 {
  top: calc(50% - 10.9px);
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}
.fullName2 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 1.5rem;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 6.063rem;
}
.title2 {
  border-radius: var(--br-8xs);
  background-color: #1d1a59;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  z-index: 1;
}
.linhNguyen2 {
  width: 4.688rem;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  height: 1.625rem;
  position: relative;
  line-height: 1.625rem;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.titleParent {
  position: absolute;
  top: 0;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.inputstextFieldselected2 {
  height: 5.363rem;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.item2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.itemParent {
  gap: 0.625rem;
}
.inputs,
.itemParent,
.logicOperator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputs {
  position: relative;
  gap: 1.681rem;
  z-index: 2;
}
.logicOperator {
  gap: 0.5rem;
}
.base {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--d-blue);
}
.editTextHere {
  position: relative;
  font-size: 2.188rem;
  line-height: 1.625rem;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 4.313rem;
  z-index: 1;
}
.button,
.buttonslargenormalrest {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.buttonslargenormalrest {
  flex: 1;
  justify-content: center;
  padding: var(--padding-lgi) var(--padding-xl) var(--padding-lgi)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 20.438rem;
  justify-content: flex-start;
  z-index: 2;
}
.buttonWrapper {
  width: 41.938rem;
  flex-direction: row;
  justify-content: center;
}
.buttonWrapper,
.dataAggregator,
.dataAggregatorWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dataAggregator {
  margin: 0;
  width: 46.875rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.75rem var(--padding-10xl) 2.687rem 2.437rem;
  box-sizing: border-box;
  position: relative;
  gap: 2.25rem;
}
.dataAggregatorWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frameContainer,
.frameGroup {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  flex-direction: column;
  gap: 4.687rem;
  min-width: 34.375rem;
  flex-shrink: 0;
 
}
.frameGroup {
  flex-direction: row;
  gap: 0.643rem;
}
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-midnightblue-200);
}
.ellipseWrapper,
.frameParent,
.inputFilter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseWrapper {
  height: 8.063rem;
  width: 7.125rem;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.frameParent,
.inputFilter {
  flex-direction: row;
  flex-shrink: 0;

}
.frameParent {
  margin-top: -4.5rem;
  width: 67.563rem;
  flex-wrap: wrap;
  gap: 6.187rem;
  max-width: calc(100% - 351px);
  text-align: left;
  font-size: 2rem;
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.inputFilter {
  align-self: stretch;
  height: 62.25rem;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.intersectIcon {
  width: 0;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameInner {
  align-self: stretch;
  /* width: 106.313rem; */
  position: relative;
  background-color: var(--color-white);
  flex-shrink: 0;

  max-width: 143%;
}
.account,
.accountInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.accountInner {
  align-self: stretch;
  height: 50.813rem;
  flex-direction: row;
  padding: 0 0 0 14.312rem;
  max-width: 100%;
  flex-shrink: 0;
}
.account {
  width: 100%;
  height: 64rem;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-9xl) var(--padding-xl);
  gap: 36.562rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .helloabcgmailcom {
    text-align: left;
    display: flex;
    height: 1.688rem;
  }
  .frameParent {
    gap: var(--gap-30xl);
  }
  .accountInner {
    padding-left: 7.125rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .home {
    font-size: 1.625rem;
  }
  .linhNguyen {
    font-size: 1.5rem;
  }
  .editTextHere {
    font-size: 1.75rem;
    line-height: 1.313rem;
  }
  .dataAggregator {
    padding-top: var(--padding-10xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .frameContainer {
    gap: 2.313rem;
  }
  .frameParent {
    max-width: 100%;
  }
  .account,
  .inputFilter {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .dataAggregator {
    gap: 1.125rem;
  }
  .frameContainer,
  .frameGroup {
    min-width: 100%;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-6xl);
  }
  .inputFilter {
    gap: var(--gap-5xl);
  }
  .accountInner {
    padding-left: 3.563rem;
    box-sizing: border-box;
  }
  .account {
    gap: 18.25rem;
  }
}
@media screen and (max-width: 450px) {
  .home {
    font-size: 1.188rem;
  }
  .linhNguyen {
    font-size: var(--font-size-lg);
  }
  .linhNguyen1 {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .helloabcgmailcom {
    font-size: var(--font-size-lg);
  }
  .fullName2 {
    font-size: var(--font-size-base);
    line-height: 1.188rem;
  }
  .linhNguyen2 {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .editTextHere {
    font-size: 1.313rem;
    line-height: 1rem;
  }
  .dataAggregator {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameContainer {
    gap: 1.188rem;
  }
  .accountInner {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .account {
    gap: 9.125rem;
  }
}
