.login-container {
  height: 100%;
  width: 100%;
}
.login-container .overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.login-form-cover {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;

  height: 100%;
}
.login-form-cover .arrow {
  width: 50%;
  max-width: 500px;
  margin-right: 5rem;
}
.login-form-cover .arrow img {
  width: 100%;
  height: 100%;
}
.login-form-container h1,
.login-form-container h2 {
  color: white;
}
.login-form-container h1 {
  margin-bottom: 2rem;
}
.login-form-container h2 {
  margin-bottom: 1.5rem;
}
.login-form-container form .email,
.login-form-container form .password,
.login-form-container form .check-link-container {
  margin-bottom: 0rem;
}
.login-form-container form .email label,
.login-form-container form .password label {
  font-size: 20px;
  font-weight: bold;
}
.login-form-container form .email span,
.login-form-container form .password span {
  display: block;
  text-align: center;
  color: red;
  margin-top: 0.2rem;
  width: 100%;
  max-width: 500px;
}
.login-form-container form .password span {
  margin-bottom: 0rem;
}

.login-form-container form .email input,
.login-form-container form .password input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}
.login-form-container form .email input.err,
.login-form-container form .password input.err {
  border-color: red;
}
.login-form-container form .email input::placeholder,
.login-form-container form .password input::placeholder {
  color: white;
}
.login-form-container form .email input.err::placeholder,
.login-form-container form .password input.err::placeholder {
  color: red;
}
.login-form-container .check-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}
.login-form-container .check-link-container .link {
  color: green;
}
.login-form-container .check-link-container #checkbox {
  accent-color: green;
  margin-right: 0.5rem;
}
.login-form-container .check-link-container .checkbox label {
  color: white;
}
.login-form-container .submit {
  margin-top: 1.2rem;
  margin-bottom: 10px;
}
.login-form-container .submit button {
  padding: 0.8rem 0rem;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.login-form-container .signup-link-container span {
  color: white;
}
.login-form-container .signup-link-container span .sign-link {
  margin-left: 10px;
  text-decoration: none;
  color: green;
}
.login-form-container .signup-link-container span .sign-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1100px) {
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .login-form-cover {
    flex-direction: column;
    max-width: 700px;
  }
  .login-form-container {
    align-self: center;
    width: 100%;
    padding: 3rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .login-form-cover .arrow {
    max-width: 250px;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .login-form-container h1 {
    display: none;
  }
  .login-form-container h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .login-form-container form {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .login-form-container {
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
