body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
   
    background: url(./Images/login_page.png) no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to full viewport height */
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
