.login-container{
    position: relative;
    display: flex;
}

img{
    height: 100vh;
    width: 214vh;
    position: absolute;
    object-fit: fill;
}

.overlay-contant{
    z-index: 1;
    transform: translate(-505,50%);
}
.please-enter-the {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    color: #b0b0b0;
  }
h1{
    color: white;
    padding-left: 650px;
    padding-top: 40px;
}

p{
    color: white;
    padding-left: 650px;
    padding-top: 10px;
    font-size: 25px;
}

.form-container{
    max-width: 500px;
    padding-left: 650px;
}

label{
    color: white;
    font-size: 17px;
}

.text{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 7px;
    width: 200px;
    border-radius: 8px;
}

.checkbox-label {
    margin-top: 10px;
    display: block;
}

.checkbox-label input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid green;
}

.checkbox-label input[type="checkbox"]:checked {
    background-color: green;
}

.checkbox-label span {
    font-size: 12px;
    color: white;
    vertical-align: middle;
}

.forgot-password {
    font-size: 12px;
    color: green;
    display: block;
    margin-left: 10px;
}
.for-pass
{
     display: flex;
     /* justify-content: center; */
     gap : 12px;
     
}
.for-pass:hover
{
     color :blue;
}
.keepmein
{
    font-size: 5px;
    background-color: rgba(0, 0, 255, 0);
    width: 150px;
}
#keepme
{
    font-size: 10px;
    width : 250px;
}
.forgot-password
{
    display: flex;
     justify-content:flex-end;
     gap : 0px;
    font-size: 10px;
    background-color: rgb(22, 238, 65);
    width: 130px;
    margin-right: 0em;

    
}
.forgetpassword
{
    display:flex;
    justify-content: center;
    /* background-color :brown; */
    width : 100px;
}
.btn
{
    background-color: white;
    color : black;
    margin-top: 10px;
    /* background-color: transparent; */
    border: 1px solid white;
    padding: 7px;
    width: 215px;
    border-radius: 8px;
}
.signup {
    color: rgb(0, 128, 0);
    position:relative;
    display: flex;
    align-items: center; /* Vertically center the text */
    right: 40%; /* Position it to the right */
    font-size: 20px;
    gap: 7px;
    background-color: rgba(247, 241, 253, 0);
}
#account {
    position: absolute;
    display: flex;
    justify-content:right; /* Center the text horizontally */
    align-items:flex-start; /* Center the text vertically */
    font-size: 20px;
    right: 45%;
    width: 300px;
    color:aliceblue;
    background-color: rgba(255, 0, 0, 0); /* This sets the background color to transparent, you can change it if needed */
}

.divsign
{
    display:flex;
    justify-content: center;
    /* background-color :brown; */
    width : 100px;
}

